In [ ]:
# Muhammad Abdullah Khan
# Roll No 054

In [2]:
# Q1. Write a for loop to print all even numbers from 2 to 20.

numbers=range(2,22,2)
for num in numbers:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [4]:
#Q2. Create a list of names and use a for loop to print each name in uppercase.

list=['ali','saad','subhan','asad','saim']
for names in list:
    print(names.upper())

ALI
SAAD
SUBHAN
ASAD
SAIM

In [6]:
#Q3. Use a for loop with range() to print numbers from 10 to 1 in reverse order.

numbers=range(10,0,-1)
for num in numbers:
    print(num)

10
9
8
7
6
5
4
3
2
1

In [8]:
#Q4. Iterate through a list of integers and print only the numbers that are divisible by 3.

list=[2,3,5,7,9,11,15,16,18,21]
for num in list:
    if num%3==0:
        print(num)

3
9
15
18
21

In [10]:
#Q5. Write a loop that prints the squares of numbers from 1 to 10.

squares=[1,2,3,4,5,6,7,8,9,10]
for value in range(1,11):
    square=value**2
    print(square)

1
4
9
16
25
36
49
64
81
100

In [12]:
#Q6. Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

celcius_temp=[0,15,25,30]
for temp_c in celcius_temp:
    temp_f=(temp_c*9/5)+32
    print(f"{temp_c}°C is equal to {temp_f}°F")

0°C is equal to 32.0°F
15°C is equal to 59.0°F
25°C is equal to 77.0°F
30°C is equal to 86.0°F

In [14]:
#Q7. Create a for loop that prints the multiplication table of 5.

for value in range(1, 11):
    multiply= value*5
    print(f"5 x {value} = {multiply}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [16]:
#Q8. Write a program to find the sum of all numbers in a list using a for loop.

numbers = [3, 7, 12, 5, 9, 11]
total = 0
for num in numbers:
    total += num
print(total)

47

In [18]:
# Q9. Use a for loop to iterate through a string and print each character separately.

text = "Abdullah"
for char in text:
    print(char)

A
b
d
u
l
l
a
h

In [20]:
#Q10. Create a list of words and use a for loop to print only the words with more than 5 letters.

words = ["apple", "banana", "cherry", "kiwi", "strawberry", "grape"]
for word in words:
    if len(word) > 5:
        print(word)

banana
cherry
strawberry